table {
    border: 1px solid silver;
}
td:hover {
    background-color: goldenrod;
    color: blueviolet;
}
tr,td {
    background-color: black;
    color: cornsilk;
}
tr, td {
    background-color: darkgreen;
    color: #ffff;
}